@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: black;
  background: url(/src/assets/images/baile-del-troleo-esqueleto.gif);
  background-size: contain;
  display: flex;

  flex-direction: column;
  height: 100vh;
  justify-content: center;
}